.checkin-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    margin-bottom: 5px;
}

.input-container label {
    margin-right: 3px;
    font-size: 18px;
}

.time-container, .member-type-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.member-type-container div {
    margin: 0px 5px 0px 5px;
}


.time-container select {
    margin: 0px 2px 0px 2px;
}

#disclaimer {
    text-align: center;
}

#checkin-input {
    margin-left: 12px;
}

#submit-button {
    margin-top: 10px;
}




