* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
}

h1 {

}

h2 {

}

h3 {

}

p {
    color: #89847E;
}

.heading {
    font-size: 28px;
    margin-bottom: 10px;
}

.home, .checkin, .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button, .button a {
    background-color: #f1bc45;
    color: #cc0000;
    padding: 10px 12px 10px 12px;
    font-weight: bold;
    font-size: 32px;
    text-decoration: none;
}

.button:hover, .button a:hover {
    background-color: #cc0000;
    color: #f1bc45;
    cursor: pointer;
}


